.table-container {
  max-width: 100%; /* Pełna szerokość kontenera */
  margin: 0 auto; 
  padding: 0 20px; /* Zmniejszony padding dla responsywności */
  overflow-x: auto; /* Przewijanie w poziomie */
  border-radius: 8px; 
}

table {
  border-collapse: collapse; 
  background-color: #ffffff; 
  border-radius: 8px; 
  overflow: hidden; 
  width: 100%; 
  table-layout: fixed; /* Zachowanie stałej szerokości kolumn */
}

th {
  background-color: #a742a7; 
  color: #ffffff; 
  font-weight: bold; 
  padding: 12px 15px; 
  border-bottom: 2px solid #ffffff; 
  text-align: left;
}

td {
  padding: 12px 15px; 
  border-bottom: 1px solid #eee; 
  color: #555; 
  word-wrap: break-word; /* Zawijanie długich słów */
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #e6f7ff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Ustalenie szerokości kolumn dla większych ekranów */
th:nth-child(1), td:nth-child(1) { width: 25%; }
th:nth-child(2), td:nth-child(2) { width: 25%; }
th:nth-child(3), td:nth-child(3) { width: 30%; }
th:nth-child(4), td:nth-child(4) { width: 20%; }

.no-results {
  font-size: 1.2rem;
  color: #6a1b9a; 
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 600px;
  text-align: center;
}

/* MEDIA QUERIES */

/* Dla mniejszych ekranów np. tabletów */
@media (max-width: 1024px) {
  .table-container {
    padding: 0 10px; /* Zmniejszony padding */
  }

  th, td {
    font-size: 0.9rem; /* Mniejsza czcionka */
    padding: 10px; 
  }

  /* Dostosowanie szerokości kolumn dla tabletów */
  th:nth-child(1), td:nth-child(1),
  th:nth-child(2), td:nth-child(2),
  th:nth-child(3), td:nth-child(3),
  th:nth-child(4), td:nth-child(4) {
    width: auto; /* Kolumny bardziej elastyczne */
  }
}

/* Dla małych ekranów np. smartfonów */
@media (max-width: 600px) {
  .table-container {
    padding: 0 5px; /* Minimalny padding */
  }

  table {
    font-size: 0.85rem; /* Mniejsza czcionka */
    table-layout: auto; /* Automatyczne dostosowanie szerokości kolumn */
  }

  th, td {
    padding: 8px; /* Mniejszy padding */
  }

  /* Dostosowanie szerokości kolumn */
  th:nth-child(1), td:nth-child(1),
  th:nth-child(2), td:nth-child(2),
  th:nth-child(3), td:nth-child(3),
  th:nth-child(4), td:nth-child(4) {
    width: auto; /* Kolumny rozciągają się na całą szerokość */
  }

  /* Układ tabeli na bardzo małych ekranach */
  tr {
    display: block; /* Wiersze w trybie blokowym */
    margin-bottom: 10px; /* Dodanie odstępu między wierszami */
  }

  th, td {
    display: block; /* Komórki jako bloki */
    width: 100%; /* Szerokość komórek na całą szerokość */
  }

  td::before {
    content: attr(data-label); /* Dodanie etykiet do komórek na małych ekranach */
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
}
